body {
  min-height: 75rem;
  background-color: lightblue;
  color: black;
}

.navbar {
  margin-bottom: 0;
}

.grid {
  min-height: 50rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

.item {
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.item > img {
  margin-bottom: .75rem;
}

.item-text {
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
