body {
  min-height: 75rem;
  background-color: #0072C6;
  color: white;
}

.navbar {
  margin-bottom: 0;
}


.grid {
  min-height: 50rem; 
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.item {
  float: center;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.item > img {
  margin-bottom: .75rem;
  width="128";
  height="128";
}

.item-text {
  float: center;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
